*{
    height:100%;
    width:100%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper{
    display:grid;
    background-color:rgb(68, 0, 255);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.profile-tab{
    background-color: rgb(58, 57, 96);
    grid-row:1/3;
}

.timeline-tab{
    background-color:rgb(94, 104, 109);
}

.project-tab{
    background-color:rgb(169, 191, 168);
}