*{
    height:100%;
    width:100%;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.profile-header-wrapper{
    background-color: rgb(58, 57, 96);
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile-header-wrapper>img{
    width: max(80px, 40%);
    height: max(100px, 60%);
    border-radius: 50%;
}

.timeline-tab{
    background-color:rgb(94, 104, 109);
}

.profile-stats-wrapper{
    background-color: rgb(58, 57, 96);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}



.project-tab{
    background-color:rgb(169, 191, 168);
}

